 @import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow+Semi+Condensed:wght@600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Alata',monospace,sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
   
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.humburger{
    display: none;
   
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    /* -webkit-transition: all 0.3s ease-in-out; */
    transition: all 0.3s ease-in-out;
    background-color: #4afc09;
}
.nav-menu{
display: flex;
justify-content: space-between;
align-items: center;
}
.nav-item{
    margin-left: 5rem;
   
}
.nav-link{
    font-size: 1rem;
    font-weight: 300;
    color: white;
}
.nav-link:hover{
    border-bottom:5px solid rgb(227, 247, 2);
   
}
.nav-logo{
    font-size: 2rem;
    font-weight: 400;
    

    color:white;
}
.nav-logo:hover{
    border-bottom:3px #20f005 dashed;
    color: #d4e300f6;
}


 @media (max-width:780px) {
   .nav-menu{
 /* show the humberger and hide nav-menu */
    position:fixed;

     flex-direction: column;
     top:5rem;
     left:-100%;
     background-color: #3a1919;
     border-radius: 0.5rem;
     text-align: center;
     width: 40%;
     box-shadow: 10px 10px;
     transition: 0.3s;
   }
   .nav-menu.active{
    left: 0; 
    background-color: rgb(39, 1, 34);
   }
   .nav-item{
    margin: 2rem 0;
   
   }
   .humburger{
    display: block;
    cursor: pointer;
   }
   /* use the active class on the hamburger to create
    that X animation when we click on the hamburger */
    .humburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .humburger.active .bar:nth-child(1) {
       
        transform: translateY(8px) rotate(45deg);
    }

    .humburger.active .bar:nth-child(3) {
       
        transform: translateY(-8px) rotate(-45deg);
    }
}  

/* hero area created */


 .hero{
    background-color: #ac11b4;
   background-image: url(design/images/desktop/image-hero.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 1rem;
  
} 
.hero-text{
   
   box-sizing: border-box;
   margin: auto;
   width: 15rem;
   padding: 0.5rem;
   margin-left:2rem;
   margin-top: 1rem;
   border: 0.2rem solid whitesmoke;
   font-family: 'Josefin Sans', sans-serif;
   font-size:2rem;
   color: aliceblue;
}
.hero-text:hover{
    color:rgb(227, 247, 2);
    border-color: rgb(9, 255, 0);
}
/* second part of the page  */
.section-1{
   padding: 2rem;
}
img{
    max-width: 100%;
    display: block;
}
.img-container{ 
    width: 100%;
    height: 20rem;
    background-color: #4afc09;
    background-image: url(design/images/mobile/image-interactive.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 0.4rem;
    color: black;
}
p{
    color: hsl(0, 0%, 41%);
    font-size: 1rem;
    font-weight: 400;
}
.image-container{
    width: 100%;
}
.article{
    
    text-align: center;
    background-color: #fdfbfd;
    color: hsl(0, 0%, 55%);
    box-sizing: border-box;
    padding: 1rem;
    
   
}
/* section 2 the gallery part */
.section-2{
  padding: 2rem;
}
.card-1,.card-2, .card-3,.card-4,.card-5,.card-6,.card-7,.card-8{
    position: relative;
    margin: 0.5rem;
    width: 100%;
    height: 6rem;
    background-color: #ac11b4;
  
    background-size: cover;
    color: #fdfbfd;  
   
  
}
.card-1{
    background-image: url(design/images/mobile/image-deep-earth.jpg);
}
.card-2{
    background-image: url(design/images/mobile/image-night-arcade.jpg);
}
.card-3{
    background-image: url(design/images/mobile/image-soccer-team.jpg);
}
.card-4{
    background-image: url(design/images/mobile/image-grid.jpg);
}
.card-5{
    background-image: url(design/images/mobile/image-from-above.jpg);
}
.card-6{
    background-image: url(design/images/mobile/image-pocket-borealis.jpg);
}
.card-7{
    background-image: url(design/images/mobile/image-curiosity.jpg);
}
.card-8{
background-image: url(design/images/mobile/image-fisheye.jpg);
}
.card-text{
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    box-sizing: border-box;
    bottom:8%;
    left:20%;
    font-size: 2rem;
}

button{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding:1rem;
    width: 7rem;
    margin-left:30%;
    border-radius: 3px;
}
button:hover{
    background-color: #030303;
    color: white;
    
}

/* hover effect on cards */
.card-1:hover,.card-2:hover,.card-3:hover,.card-4:hover,
.card-5:hover,.card-6:hover,.card-7:hover,.card-8:hover{
    opacity: 0.6;
    color: #13e300f6;
   font-weight: 900;
   
}
/* footer */
.sub-container{
   text-align: center;
    background-color:black;
    color: white;
    padding: 2rem;
}
.services{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   justify-content: space-between;
   margin: 1rem;
}
.service:hover{
    border-bottom:3px solid #de00ea;
}
.logo{
    font-size: 2rem;
    color: #6cf35a;
}
.logo:hover{
    color: #de00ea;
}
.copyright:hover{
    color: #de00ea;
}
.facebook-icon,.twitter-icon,.pinterest-icon,.instagram-icon{
    margin: 0.5rem;
}
.facebook-icon:hover,.twitter-icon:hover,.pinterest-icon:hover,.instagram-icon:hover{
background-color: rgb(141, 51, 2);


}

/* design for above 780px screen */
@media (min-width:900px){
.section-1{
    position: relative;
    display: grid;
    grid-template-columns:1fr 1fr;
    
  
}

.text{
    font-size: 3rem;
}
.hero-text{
    width:30rem;
    padding: 2rem;
    margin:1rem;
    
}
.article{
position: absolute;
width: 50%;
right:8%;
bottom: 8%;
background-color:white;
}

/* section-2 */
.section-2{
    display: grid;
    grid-template-columns:  1fr  1fr;
    
    grid-auto-rows: 1ff 1fr;
    grid-template-areas: 
    'title btn'
    'gallery gallery';
   
}
button{
    grid-area: btn;
    justify-self: end;
}
.title{
    grid-area: title;
    
}
.gallery{
    grid-area: gallery;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.card-1,.card-2,.card-3,.card-4,.card-5,.card-6,.card-7,.card-8{
    height:25rem;
}
.card-1{
    background-image: url(design/images/desktop/image-deep-earth.jpg);
   
}
.card-2{
    background-image: url(design/images/desktop/image-night-arcade.jpg);
}
.card-3{
    background-image: url(design/images/desktop/image-soccer-team.jpg);
}
.card-4{
    background-image: url(design/images/desktop/image-grid.jpg);
}
.card-5{
    background-image: url(design/images/desktop/image-from-above.jpg);
}
.card-6{
    background-image: url(design/images/desktop/image-pocket-borealis.jpg);
}
.card-7{
    background-image: url(design/images/desktop/image-curiosity.jpg);
}
.card-8{
background-image: url(design/images/desktop/image-fisheye.jpg);
}
/* footer */
.sub-container{
    display: grid;
   
    grid-template-columns:  1fr 1fr;
    grid-template-rows:  1fr 1fr;
    grid-template-areas: 
    'logo icons'
    'services copyright';
}
.logo{
    margin-left: 2rem;
    grid-area: logo;
  justify-self: start;  
  
}
.services{
    justify-self: self-start;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-area: services;
}
.icons{
    justify-self: self-end;
    align-self: center;
    grid-area: icons;
    gap: 1rem;
}
.copyright{
    justify-self: end;
    align-self: center;
    grid-area: copyright;
}
}